* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #dafdfd;
}

.nav {
  position: fixed;
  width: 100%;
}

.menu {
  width: 100%;
  height: 40px;
  background: #29c4f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-items {
  width: 100%;
  height: 40px;
  background: #29c4f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.list {
  list-style: none;
  padding: 5px 10px;
  transition: 0.9s;
}

.a {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.list:hover {
  background: #ffffff;
  border-radius: 3px;
}

.list:hover a {
  color: #29c4f8;
}

.list.active {
  background: #ffffff;
  border-radius: 3px;
}

.list.active a {
  color: #29c4f8;
}

.open-nav {
  display: none;
}

.cls-nav {
  display: none;
}

.login-page {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dafdfd;
  padding: 5px;
}

.inner-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px;
}

.from-container {
  width: 90%;
  padding: 10px;
  display: flex;
}

.left-form-box {
  width: 100%;
  flex-basis: 50%;
  display: flex;
  padding: 5px;
  background: #dafdfd;
  align-items: center;
  justify-content: center;
}

.left-box-img {
  height: 90%;
}

.right-form-box {
  flex-basis: 50%;
  width: 100%;
  background: #dafdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 380px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #9d93d7;
  border-radius: 5px;
  gap: 20px;
}

.stud_login {
  border-radius: 5px 5px 0px 0px;
  position: relative;
  top: -40px;
  width: 100%;
  padding: 10px;
  /* background: #05698a; */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: 25px;
  font-weight: 900;
  /* background: url(/img/background.jpg); */
  background-size: calc(30%);
  -webkit-background-clip: text;
  background-clip: text;
  /* color: transparent; */
}

.label {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regno {
  width: 80%;
  padding: 10px;
  border: 1.5px solid #513ebd;
  border-radius: 7px;
  background: #dcd8f58b;
  outline: none;
}

.dobinput {
  width: 80%;
  padding: 10px;
  border: 1.5px solid #513ebd;
  border-radius: 7px;
  background: #dcd8f58b;
  outline: none;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background: #e49c9c;
  position: relative;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof-icon {
  background-image: url(/student/img/prof-icon.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.dob-icon {
  background-image: url(/student/img/dob-icon.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.submitbtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.submit {
  padding: 7px 15px;
  text-transform: uppercase;
  border: 2px solid #776bba;
  border-radius: 10px;
  background-color: #9e93db;
  color: #ffffff;
  box-shadow: 0px 0px 15px #776bba;
  cursor: pointer;
}

.error {
    width: 90%;
    padding: 8px 8px;
    border-radius: 5px;
    color: #12016e;
    background: #9e93db;
    text-align: center;
    display: none;
}

@media screen and (max-width: 426px) {
  .menu {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    transition: 0.9s;
  }

  .list-items {
    display: none;
    height: 180px;
    padding: 5px 10px;
  }

  .open-nav {
    list-style: none;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
    right: 5px;
    top: -4px;
    display: block;
    background-image: url(/img/opnbtn.png);
    background-size: 24px;
    background-position: 1px;
  }

  .cls-nav {
    list-style: none;
    background: #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 0px;
    display: none;
    background-image: url(/img/clsbtn.png);
    background-size: 14px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
  }

  .from-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .inner-page {
    padding: 30px 0px 0px;
  }

  .left-box-img {
    height: 100%;
    width: calc(100%);
  }
}
